* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.horizontal_menu_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: red;
}

.index_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: orange;
}

.about_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: yellow;
}

.projects_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: green;
}

.experience_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: blue;
}

.contact_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: indigo;
}

.recent_thoughts_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: violet;
}

.footer {
  height: 500px;
  width: 100%;
  background-color: #06F4D0;
}

a:link,
a:visited {
  color: #06F4D0;
}

a:hover {
  color: green;
}

.content {
  width: 100%;
  background-color: #06F4D0;
}

@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .projects_container {
    width: 50%;
  }
  .experience_container {
    width: 50%;
  }
}

@media only screen and (min-width: 961px) {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .projects_container {
    width: 33%;
    height: 100%;
  }
  .experience_container {
    width: 33%;
    height: 100%;
  }
  .contact_container {
    width: 33%;
    height: 100%;
  }
}
